{
  "extends": "airbnb",
  "parser": "babel-eslint",

  "env": {
    "mocha": true
  },

  "rules": {
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "no-multi-spaces": 0
  }
}