# IDE & OS specific
.DS_Store
.idea

# Logs
logs
*.log

# Dependencies
node_modules

# Coverage
coverage

# Release
lib

# Generated docs
doc

# VIM swap files
*.sw*

# bpf-sdk
/bpf-sdk
/bpf-sdk.tar.bz2

# fixtures
/test/fixtures
