# IDE & OS specific
.DS_Store
.idea

# Logs
logs
*.log

# Dependencies
node_modules

# Coverage
coverage

# Types
flow-typed/*

# Sources, tests and builder files
builder
deploy
src
test
internals
.flowconfig
.babelrc
.eslintignore
.esdoc.json
.eslintrc.js
.travis.yml
jest.json
renovate.json
rollup.config.js
