// 
// solana.scss
// Use this to write your custom SCSS
//

code {
  padding: 0.33rem;
  border-radius: $border-radius;
  background-color: $gray-200;
  color: $black;
}

.modal.show {
  display: block;
}

.modal .close {
  cursor: pointer;
}

.btn-outline-warning:hover {
  .spinner-grow {
    color: $dark !important;
  }
}
