//
// solana.scss
// Use this to write your custom SCSS
//

code {
  padding: 0.33rem;
  border-radius: $border-radius;
  background-color: $gray-200;
  color: $black;
}

.popover-container {
  position: relative;

  .popover {
    &.bs-popover-top {
      background-color: $dark;
      top: auto;
      bottom: 1.5rem;
    }

    &.right {
      left: auto;
      right: 0;
    }

    &.bs-popover-bottom {
      background-color: $dark;
      top: 1.5rem;
    }

    .popover-body {
      color: white;
    }

    .arrow.right {
      right: 1rem;
    }

    .arrow::after {
      border-top-color: $dark;
      border-bottom-color: $dark;
    }
  }
}

.modal-backdrop {
  pointer-events: none;
}

.modal.show {
  display: block;
}

.c-pointer {
  cursor: pointer;
}

.btn-outline-warning:hover {
  .spinner-grow {
    color: $dark !important;
  }
}

.btn.input-group {
  input {
    cursor: pointer;

    &:focus {
      cursor: text;
    }
  }
}

.text-signature,
.text-address {
  font-size: 85%;
}

input.text-signature,
input.text-address {
  padding: 0 0.75rem;
}

h4.ix-pill {
  display: inline-block;
  padding: 5px;
  border-radius: $border-radius;
  margin-bottom: 2rem;
  margin-left: -5px;
  background-color: theme-color-level(info, $badge-soft-bg-level);
}

h4.slot-pill {
  display: inline-block;
  padding: 5px;
  border-radius: $border-radius;
  margin-left: -5px;
  background-color: theme-color-level(primary, $badge-soft-bg-level);
  margin-bottom: 1.5rem;
}

.list-group-item:last-child {
  &.ix-item,
  &.slot-item {
    border-bottom-width: 0px;
  }
}

.list-group:last-child .list-group-item:last-child {
  &.ix-item,
  &.slot-item {
    border-bottom-width: 1px;
  }
}

.list-group-item:first-child {
  &.ix-item,
  &.slot-item {
    border-top-width: 1px;
  }
}

.min-width-0 {
  min-width: 0;
}

.mb-last-0 {
  &:last-child {
    margin-bottom: 0 !important;
  }
}

.vertical-top {
  vertical-align: top !important;
}