// 
// solana.scss
// Use this to write your custom SCSS
//

code {
  padding: 0.33rem;
  border-radius: $border-radius;
  background-color: $gray-200;
  color: $black;
}

.copyable {
  position: relative;

  & > div:hover {
    cursor: pointer;
  }

  .popover {
    top: -1rem;
    right: -5.12rem;
    left: auto;
  }
}

.modal.show {
  display: block;
}

.modal .close {
  cursor: pointer;
}

.btn-outline-warning:hover {
  .spinner-grow {
    color: $dark !important;
  }
}

.btn.input-group {
  input {
    cursor: pointer;

    &:focus {
      cursor: text;
    }
  }
}

.text-signature, .text-address {
  font-size: 85%;
}

input.text-signature, input.text-address {
  padding: 0 0.75rem
}

h4.ix-pill {
  display: inline-block;
  padding: 5px;
  border-radius: $border-radius;
  margin-bottom: 2rem;
  margin-left: -5px;
  background-color: theme-color-level(info, $badge-soft-bg-level);
}

.list-group-flush .list-group-item.ix-item:first-child {
  border-top-width: 1px;
}