/book/html/
/book/src/img/
/book/src/tests.ok
/farf/
/solana-release/
/solana-release.tar.bz2
/solana-metrics/
/solana-metrics.tar.bz2
/target/

**/*.rs.bk
.cargo

/config/

# log files
*.log
log-*.txt

# intellij files
/.idea/
/solana.iml
/.vscode/
