/dependencies/criterion*
/dependencies/hashbrown*
/dependencies/llvm-native*
/dependencies/rust-bpf-sysroot*
/dependencies/bpf-tools*
/dependencies/platform-tools*
/dependencies/sbf-tools*
/dependencies/xargo*
/dependencies/bin*
/dependencies/.crates.toml
/dependencies/.crates2.json
/syscalls.txt
