#perf-history {
  .btn-active {
    background-color: #ffa63f;
    color: #2b2c2f !important;
  }
  .perf-history-btn {
    border: 1px solid #ffa63f;
    padding: 0.25rem 0.7rem;
    font-size: 0.83125rem;
    color: #ffa63f;
  }

  .y-axis {
    padding-left: 2rem;
    margin-right: 0.5rem;
    border-right: 2px solid #414046
  }
  .max-tick {
    position: absolute;
    left: 0;
  }
  .middle-tick {
    position: absolute;
    top: 50%;
    left: 0;
  }
}

// Network stats
.progress-bar {
  color: #2b2c2f;
  background-color: #69e069
}

.absolute-center {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.avatar-wrapper-overlap .avatar-icon-wrapper {
  margin-left: -10px;
}

.avatar-icon {
  box-shadow: 0 0 0 3px #403f45;
  width: 36px;
  height: 36px;
}

.avatar-icon-leader {
  width: 50px;
  height: 50px;
}

.avatar-icon-delinquent {
  box-shadow: 0 0 0 3px #e76343;
  width: 38px;
  height: 38px;
}

.font-weight-500 {
  font-weight: 500;
}

.standard-grey-bg {
  background: #2b2c2f;
}

.border-grey {
  color: #414046;
}

.palegreen {
  color: #3f8d8f;
}

.fa { transform: scale(3,3); }