html {
    font-family: Lato, 'Helvetica Neue', 'Arial', sans-serif;
    color: #333;
    background-color: #f7f7f7;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-size: 1rem;
    overflow-x: hidden;
    font-family: Lato, 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
    font-size: 13px;
    /* please adjust the ace font size accordingly in editor.js */
    line-height: 1.5;
}

p a {
    color: #050505;
    text-decoration: underline;
}

.layout-container>header {
    background: #050505;
    border-bottom: solid 1px rgba(255, 255, 255, .3);
}

.layout-container>header>a {
    color: #fff;
}

.search-box.active .search-input {
    color: #fff;
}

.navigation {
    background: #050505;
    padding-left: 0;
}

.navigation li {
    margin: 0;
    padding-left: 25px;
    transition: .15s ease-in-out;
}

.navigation li:hover {
    background: #00A670;
}

.navigation li .kind-class {
    margin-left: 0;
}

.navigation li a {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    line-height: 2.2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.content {
    background: #f7f7f7;
    padding-left: 0;
    padding-right: 0;
}

.content>.github-markdown>* {
    padding-left: 28px;
    padding-right: 28px;
}

.content>*:not(.github-markdown) {
    padding-left: 28px;
    padding-right: 28px;
}

.github-markdown h1 {
    font-size: 28px;
    font-weight: 300;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 21px;
    margin-top: 2em;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    font-family: Poppins, sans-serif;
}

.github-markdown h2 {
    font-family: Poppins, sans-serif;
    font-size: 26px;
    font-weight: 300;
    margin-top: 2em;
    margin-bottom: 0;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    border-bottom: none;
}

.github-markdown pre>code {
    background-color: #262B26;
    color: #fff;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    padding: 2em 28px;
    font-size: 13px;
    border-radius: 3px;
    line-height: 1.5;
}

.pln {
    color: #000;
}

.tag {
    color: #f92672;
}

.lit {
    color: #f6aa11;
}

.str {
    color: #60ac39;
}

p>code,
li>code {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 3px;
    border-radius: 3px;
    font-size: 13px;
    line-height: 1.5;
    color: #333;
}

.import-path pre.prettyprint code {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 3px;
    border-radius: 3px;
    font-size: 13px;
    line-height: 1.5;
    color: #333;
}