html {
    font-family: Lato, 'Helvetica Neue', 'Arial', sans-serif;
    color: var(--fg);
    background-color: var(--bg);
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-size: 1rem;
    overflow-x: hidden;
    font-family: Lato, 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
    font-size: 13px; /* please adjust the ace font size accordingly in editor.js */
    line-height: 1.5;
}
